.loading-content{height:100vh;display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;-webkit-align-items:center;align-items:center}.loading-content h1,.loading-content h3{color:#e84393}.success-message{color:#00b894}
/*# sourceMappingURL=main.1d8f6c5a.chunk.css.map */